.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 1rem;
}

.social-icons a {
  color: #333;
  font-size: 50px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #007bff;
}
